<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>

    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/irv_project</property>
    <property name="connection.username">root</property>
    <property name="connection.password">c4rp3d13m</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- List the annotated entity class/es -->
    <mapping class="com.irvingmichael.irv.entity.Choice"/>
    <mapping class="com.irvingmichael.irv.entity.Vote"/>
    <mapping class="com.irvingmichael.irv.entity.Voter"/>
    <mapping class="com.irvingmichael.irv.entity.Poll"/>
    <mapping class="com.irvingmichael.irv.entity.AccessRole" />

  </session-factory>

</hibernate-configuration>