@import "main";
@import "forms";

div.pagecontent h1 {
  display: inline-block;
  width: 79%;
  margin: 0;
}

div {
  &.poll {
    border-bottom: 1px solid #BBB;
    padding: 1vmin;

    & > div {
      display: inline-block;
      padding: 1vmin;
      margin: 0;

      &:nth-Child(1) {
        width: 50%;
      }

      &:nth-Child(2) {
        width: 38%;
      }

      &:nth-Child(3) {
        font-size: 1.75vmin;
        width: 12%;
      }

      &.header {
        font-weight: bold;
        text-align: center;
      }

      &.title {
        font-weight: bold;
      }

      &.creator {
        text-align: center;
      }

      &.status {
        text-align: center;
      }
    }
  }
}

div.pagecontent form#usepollcode {
  display: inline-block;
  width: 20%;
  margin: 0;

  input {
    display: inline-block;
    width: 80%;
  }

  button {
    display: inline-block;
    width: 15%;
    margin-left: 5px;
  }
}
